body {
  margin: 0;
  padding: 1rem;
  font-family: 'Apple SD Gothic Neo',arial,sans-serif;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header button.setLocalStorage {
  flex: none;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.header button.setLocalStorage:hover, .header button.setLocalStorage:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.header button.setLocalStorage:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.header button.setLocalStorage:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.habits {
  margin-top: 1rem;
}

.habits-enters {
  display: flex;
}

.habits-enters .__inputEnter {
  flex: auto;
  height: 48px;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  -webkit-appearance: none;
}

.habits-enters .__inputEnter:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habits-enters .__buttonEnter {
  box-sizing: border-box;
  width: 48px;
  margin: 0 0 0 2px;
  padding: 0;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.habits-enters .__buttonEnter:hover, .habits-enters .__buttonEnter:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habits-enters .__buttonEnter:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.habits-enters .__buttonEnter:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.habits-actions {
  margin-top: 1.5rem;
}

.habits-navs {
  display: flex;
}

.habits-navs .__buttonCurrent {
  margin-left: 10px;
  padding: 0 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.habits-navs .__buttonCurrent:hover, .habits-navs .__buttonCurrent:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habits-navs .__buttonCurrent:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.habits-navs .__buttonCurrent:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.habits-navs .__buttonNav {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 50%;
  border: 1px solid transparent;
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.habits-navs .__buttonNav:hover, .habits-navs .__buttonNav:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habits-navs .__buttonNav:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.habits-navs .__buttonNav:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.habits-navs .__textButton {
  position: relative;
  top: -2px;
}

.habits-navs .__titleNav {
  width: 85px;
  margin: 0 10px;
  font-size: 1.5rem;
}

.habits-options {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.habits-options .__labelFold {
  position: relative;
}

.habits-options .__checkboxFold {
  position: fixed;
  top: -20000rem;
}

.habits-options .__textFold {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 13px;
  color: #999;
}

.habits-options .__checkboxFold:focus + .__textFold {
  border-color: rgba(0, 0, 0, 0.3);
}

.habits-options .__checkboxFold:checked + .__textFold {
  border-color: rgba(0, 125, 0, 0.1);
  background-color: rgba(0, 125, 0, 0.3);
  color: #222;
}

.habits-options .__checkboxFold:checked:focus + .__textFold {
  border-color: rgba(0, 125, 0, 0.5);
}

.habikers {
  margin-top: 1rem;
  border-top: 1px solid #ddd;
}

.habiker {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.habiker-header {
  display: flex;
}

.habiker .__nameHabiker {
  flex: auto;
  min-width: 50%;
  margin: 0 5px 0 0;
  padding: 7px;
  border-radius: 5px;
  border: none;
  text-overflow: ellipsis;
  font-size: 1.5rem;
}

.habiker .__nameHabiker:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habiker .__buttonHabiker {
  box-sizing: border-box;
  width: 48px;
  margin-left: 2px;
  padding: 0.3rem 0.5rem;
  font-size: 14px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.habiker .__buttonHabiker:hover, .habiker .__buttonHabiker:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habiker .__buttonHabiker:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.habiker .__buttonHabiker:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.trackers {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5px;
}

.habikers[data-fold="false"] .trackers {
  display: none;
}

.tracker {
  margin: 2px;
}

.tracker .__checkboxTracker {
  position: fixed;
  top: -20000rem;
}

.tracker .__dateTracker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 30px;
  border-radius: 7px;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(117, 117, 117, 0.05);
  background-color: rgba(117, 117, 117, 0.05);
  color: rgba(117, 117, 117, 0.3);
}

.tracker .__checkboxTracker:hover + .__dateTracker,
.tracker .__checkboxTracker:focus + .__dateTracker {
  border-color: rgba(117, 117, 117, 0.1);
  background-color: rgba(117, 117, 117, 0.1);
  color: rgba(117, 117, 117, 0.4);
}

.tracker .__checkboxTracker:focus:hover + .__dateTracker {
  border-color: rgba(117, 117, 117, 0.15);
  background-color: rgba(117, 117, 117, 0.15);
  color: rgba(117, 117, 117, 0.45);
}

.tracker .__checkboxTracker:checked + .__dateTracker {
  border-color: rgba(0, 128, 0, 0.2);
  background-color: rgba(0, 128, 0, 0.2);
  color: rgba(100, 123, 101, 0.6);
}

.tracker .__checkboxTracker:checked:hover + .__dateTracker,
.tracker .__checkboxTracker:checked:focus + .__dateTracker {
  border-color: rgba(0, 128, 0, 0.3);
  background-color: rgba(0, 128, 0, 0.3);
  color: rgba(100, 123, 101, 0.7);
}

.tracker .__checkboxTracker:checked:focus:hover + .__dateTracker {
  border-color: rgba(0, 128, 0, 0.35);
  background-color: rgba(0, 128, 0, 0.35);
  color: rgba(100, 123, 101, 0.75);
}

.dimmed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: initial;
}

.dimmed[data-hidden=true] {
  display: none;
  pointer-events: none;
}

.localStorage {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  transform: translate3d(100%, 0, 0) scale(1);
  transition: transform .3s ease-out 0s;
  display: flex;
}

.localStorage[data-hidden=false] {
  transform: translate3d(0, 0, 0) scale(1);
}

.localStorage-actions {
  position: relative;
  width: 100%;
  padding: 4rem 2rem 2rem;
  background: #fff;
  box-shadow: 7px 10px 20px -5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.localStorage .__buttonStorage {
  margin-bottom: 7px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.localStorage .__buttonStorage:hover, .localStorage .__buttonStorage:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.localStorage .__buttonStorage:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.localStorage .__buttonStorage:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.localStorage button.__closeStorage {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 45px;
  height: 45px;
  outline: none;
  border-radius: 50%;
  border: 1px solid transparent;
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.localStorage button.__closeStorage:hover, .localStorage button.__closeStorage:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.localStorage button.__closeStorage:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.localStorage button.__closeStorage:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

/*# sourceMappingURL=main.css.map */