body {
  margin: 0;
  padding: 1rem;
  font-family: 'Apple SD Gothic Neo',arial,sans-serif;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header h1 {
  margin: 0;
}

.header-actions {
  margin-top: 10px;
}

.header .__button {
  flex: none;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.header .__button:hover, .header .__button:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.header .__button:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.header .__button:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.habits {
  margin-top: 1rem;
}

.habits-enters {
  overflow: hidden;
  display: flex;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.habits-enters:hover, .habits-enters:focus {
  border-color: rgba(0, 128, 0, 0.5);
}

.habits-enters:focus:hover {
  border-color: rgba(0, 128, 0, 0.7);
}

.habits-enters .__inputEnter {
  -webkit-appearance: none;
  flex: auto;
  width: 60%;
  height: 48px;
  box-sizing: border-box;
  padding: 0 10px;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.habits-enters button[type="reset"] {
  align-self: center;
  width: 25px;
  height: 25px;
  outline: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.habits-enters button[type="reset"]:hover, .habits-enters button[type="reset"]:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.habits-enters button[type="reset"]:focus:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.habits-enters .__inputEnter:placeholder-shown + button[type="reset"] {
  display: none;
}

.habits-enters .__clearIcon {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 10px;
  opacity: 0.3;
}

.habits-enters .__clearIcon:before, .habits-enters .__clearIcon:after {
  position: absolute;
  content: ' ';
  height: 10px;
  width: 2px;
  background-color: #333;
}

.habits-enters .__clearIcon:before {
  transform: rotate(45deg);
}

.habits-enters .__clearIcon:after {
  transform: rotate(-45deg);
}

.habits-enters .__buttonEnter {
  box-sizing: border-box;
  width: 48px;
  margin: 0 0 0 5px;
  padding: 0;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.habits-enters .__buttonEnter:hover, .habits-enters .__buttonEnter:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habits-enters .__buttonEnter:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.habits-enters .__buttonEnter:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.habits-actions {
  margin-top: 1.5rem;
}

.habits-navs {
  display: flex;
}

.habits-navs .__buttonCurrent {
  margin-left: 10px;
  padding: 0 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.habits-navs .__buttonCurrent:hover, .habits-navs .__buttonCurrent:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habits-navs .__buttonCurrent:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.habits-navs .__buttonCurrent:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.habits-navs .__buttonNav {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 50%;
  border: 1px solid transparent;
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.habits-navs .__buttonNav:hover, .habits-navs .__buttonNav:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habits-navs .__buttonNav:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.habits-navs .__buttonNav:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.habits-navs .__textButton {
  position: relative;
  top: -2px;
}

.habits-navs .__titleNav {
  width: 85px;
  margin: 0 10px;
  font-size: 1.5rem;
}

.habits-options {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  /* .__checkboxExpand{
            &:hover + .__textExpand,
            &:focus + .__textExpand{
                @include __getBorderColor(0.07);
                @include __getBGColor(0.07);
                @include __getColor(0.5);
            }
            &:hover:focus + .__textExpand{
                @include __getBorderColor(0.1);
                @include __getBGColor(0.1);
                @include __getColor(0.5);
            }

            &:checked + .__textExpand{
                @include __getBorderColor--on(0.2);
                @include __getBGColor--on(0.2);
                @include __getColor(0.5);
            }
            &:checked:hover + .__textExpand,
            &:checked:focus + .__textExpand{
                @include __getBorderColor--on(0.25);
                @include __getBGColor--on(0.25);
                @include __getColor(0.55);
            }
            &:checked:hover:focus + .__textExpand{
                @include __getBorderColor--on(0.3);
                @include __getBGColor--on(0.3);
                @include __getColor(0.6);
            }
        } */
}

.habits-options .__labelExpand {
  position: relative;
}

.habits-options .__checkboxExpand {
  position: fixed;
  top: -20000rem;
}

.habits-options .__textExpand {
  padding: 5px 10px;
  font-size: 13px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.habits-options .__textExpand:hover, .habits-options .__textExpand:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habits-options .__textExpand:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.habits-options .__textExpand:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.habikers {
  margin-top: 1rem;
}

.habiker {
  padding: 10px 0;
  list-style: none;
}

.habiker-header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}

.habiker-header:hover {
  border-color: rgba(0, 128, 0, 0.3);
}

.habiker .__nameHabiker {
  flex: auto;
  min-width: 50%;
  margin: 0 5px 0 0;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: none;
  text-overflow: ellipsis;
  font-size: 1.5rem;
}

.habiker .__buttonHabiker {
  box-sizing: border-box;
  width: 48px;
  margin-left: 2px;
  padding: 0.3rem 0.5rem;
  font-size: 14px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.habiker .__buttonHabiker:hover, .habiker .__buttonHabiker:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habiker .__buttonHabiker:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.habiker .__buttonHabiker:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.trackers {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5px;
}

.habikers[data-expanded="false"] .trackers {
  display: none;
}

.tracker {
  margin: 2px;
}

.tracker .__checkboxTracker {
  position: fixed;
  top: -20000rem;
}

.tracker .__dateTracker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48px;
  height: 30px;
  border-radius: 20px;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(117, 117, 117, 0.07);
  background-color: rgba(117, 117, 117, 0.07);
  color: rgba(117, 117, 117, 0.4);
}

.tracker .__dateTracker[data-today=true]:after {
  content: '';
  position: absolute;
  top: -2px;
  z-index: 1;
  width: 15px;
  height: 3px;
  border-radius: 25%;
  background-color: purple;
}

.tracker .__checkboxTracker:enabled + .__dateTracker {
  cursor: pointer;
}

.tracker .__checkboxTracker:enabled:hover + .__dateTracker,
.tracker .__checkboxTracker:enabled:focus + .__dateTracker {
  border-color: rgba(117, 117, 117, 0.1);
  background-color: rgba(117, 117, 117, 0.1);
  color: rgba(117, 117, 117, 0.5);
}

.tracker .__checkboxTracker:enabled:focus:hover + .__dateTracker {
  border-color: rgba(117, 117, 117, 0.15);
  background-color: rgba(117, 117, 117, 0.15);
  color: rgba(117, 117, 117, 0.55);
}

.tracker .__checkboxTracker:checked + .__dateTracker {
  border-color: rgba(0, 128, 0, 0.2);
  background-color: rgba(0, 128, 0, 0.2);
  color: rgba(100, 123, 101, 0.6);
}

.tracker .__checkboxTracker:checked:hover + .__dateTracker,
.tracker .__checkboxTracker:checked:focus + .__dateTracker {
  border-color: rgba(0, 128, 0, 0.25);
  background-color: rgba(0, 128, 0, 0.25);
  color: rgba(100, 123, 101, 0.65);
}

.tracker .__checkboxTracker:checked:focus:hover + .__dateTracker {
  border-color: rgba(0, 128, 0, 0.3);
  background-color: rgba(0, 128, 0, 0.3);
  color: rgba(100, 123, 101, 0.7);
}

.tracker .__checkboxTracker:disabled + .__dateTracker {
  opacity: 0.5;
}

.dimmed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: initial;
}

.dimmed[data-hidden=true] {
  display: none;
  pointer-events: none;
}

.setLocalStorage {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 90%;
  height: 100%;
  transform: translate3d(100%, 0, 0) scale(1);
  transition: transform .3s ease-out 0s;
  display: flex;
}

.setLocalStorage[data-hidden=false] {
  transform: translate3d(0, 0, 0) scale(1);
}

.setLocalStorage-actions {
  position: relative;
  width: 100%;
  padding: 4rem 2rem 2rem;
  background: #fff;
  box-shadow: 7px 10px 20px -5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.setLocalStorage .__buttonStorage {
  margin-bottom: 7px;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.setLocalStorage .__buttonStorage:hover, .setLocalStorage .__buttonStorage:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.setLocalStorage .__buttonStorage:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.setLocalStorage .__buttonStorage:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.setLocalStorage button.__closeStorage {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 45px;
  height: 45px;
  outline: none;
  border-radius: 50%;
  border: 1px solid transparent;
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.setLocalStorage button.__closeStorage:hover, .setLocalStorage button.__closeStorage:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.setLocalStorage button.__closeStorage:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.setLocalStorage button.__closeStorage:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.setPermanent {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 90%;
  height: 100%;
  box-shadow: 7px 10px 20px -5px rgba(0, 0, 0, 0.3);
  transform: translate3d(100%, 0, 0) scale(1);
  transition: transform .3s ease-out 0s;
  box-sizing: border-box;
  padding: 2rem 1rem 1rem;
  background: #fff;
}

.setPermanent[data-hidden=false] {
  transform: translate3d(0, 0, 0) scale(1);
}

.setPermanent .__closeButton {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 45px;
  height: 45px;
  outline: none;
  border-radius: 50%;
  border: 1px solid transparent;
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.setPermanent .__closeButton:hover, .setPermanent .__closeButton:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.setPermanent .__closeButton:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.setPermanent .__closeButton:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

.setPermanent .permanents {
  margin-top: 1rem;
}

.setPermanent .permanent {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px dashed #ddd;
}

.setPermanent .__namePermanent {
  flex: auto;
  min-width: 50%;
  margin: 0 5px 0 0;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: none;
  text-overflow: ellipsis;
  font-size: 1.3rem;
}

.setPermanent .__buttonPermanent {
  box-sizing: border-box;
  width: 48px;
  margin-left: 2px;
  padding: 7px 0.5rem;
  font-size: 14px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.setPermanent .__buttonPermanent:hover, .setPermanent .__buttonPermanent:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.setPermanent .__buttonPermanent:hover:focus {
  background-color: rgba(0, 128, 0, 0.15);
}

.setPermanent .__buttonPermanent:hover:active {
  background-color: rgba(0, 128, 0, 0.2);
}

/*# sourceMappingURL=main.css.map */