body {
  margin: 0;
  padding: 1rem;
}

h1 {
  margin: 0 0 1rem 0;
}

ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

.habits {
  margin-top: 2rem;
}

.habits-inputs {
  display: flex;
  margin-top: 10px;
}

.habits-inputs input[name="name"] {
  flex: auto;
  height: 48px;
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid #ddd;
  font-size: 1.2rem;
}

.habits-inputs .__button {
  box-sizing: border-box;
  width: 48px;
  margin-left: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: transparent;
  font-size: 1rem;
  white-space: nowrap;
}

.habits-actions {
  margin-top: 1.5rem;
}

.habits-dates {
  display: flex;
  justify-content: center;
  align-items: center;
}

.habits-dates .__button {
  width: 48px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid rgba(0, 128, 0, 0.1);
  background-color: transparent;
  text-align: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.habits-dates .__button:active {
  background-color: rgba(0, 128, 0, 0.1);
}

.habits-dates .__title {
  margin: 0 10px;
  font-size: 1.5rem;
}

.habits-options {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.habits-options label {
  position: relative;
}

.habits-options input[type="checkbox"] {
  position: absolute;
  top: -20000rem;
}

.habits-options input[type="checkbox"]:checked + .__text {
  border-color: rgba(0, 125, 0, 0.1);
  background-color: rgba(0, 125, 0, 0.3);
  color: #222;
}

.habits-options .__text {
  display: inline-block;
  padding: 5px 7px;
  border-radius: 7px;
  border: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 13px;
  color: #999;
}

.habits-list {
  margin-top: 1rem;
  border-top: 1px solid #ddd;
}

.habits-item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.habits-item-header {
  display: flex;
  justify-content: space-between;
}

.habits-item input[name="name"] {
  flex: auto;
  margin-right: 5px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  text-overflow: ellipsis;
  font-size: 1.5rem;
}

.habits-item input[name="name"]:focus {
  background-color: rgba(0, 128, 0, 0.1);
}

.habits-item .__button {
  box-sizing: border-box;
  width: 48px;
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: transparent;
  font-size: 1rem;
  white-space: nowrap;
}

.trackers {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5px;
}

.trackers-item {
  margin: 2px;
}

.trackers-item input[type=checkbox] {
  position: fixed;
  top: -20000rem;
}

.trackers-item input[type=checkbox]:checked + .__date {
  border-color: rgba(0, 128, 0, 0.2);
  background-color: rgba(0, 128, 0, 0.3);
  color: rgba(100, 123, 101, 0.9);
}

.trackers-item .__date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid rgba(117, 117, 117, 0.1);
  background-color: rgba(117, 117, 117, 0.1);
  font-size: 1rem;
  color: rgba(117, 117, 117, 0.3);
}

.habits-list[data-fold="false"] .trackers {
  display: none;
}

/*# sourceMappingURL=main.css.map */