
@mixin flexCenterAll{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-default{
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    white-space: nowrap;
    cursor: pointer;
}

@mixin button-default-circle{
    outline: none;
    border-radius: 50%;
    border: 1px solid transparent;
    background: #fff;
    white-space: nowrap;
    cursor: pointer;
}

@mixin button-state{
    &:hover,
    &:focus{
        background-color: rgba(0, 128, 0, 0.1);
    }
    &:hover:focus{
        background-color: rgba(0, 128, 0, 0.15);
    }
    &:hover:active{
        background-color: rgba(0, 128, 0, 0.2);
    }
}

@mixin formElementHidden{
    position: fixed;
    top: -20000rem;
}
