
@mixin flexCenterAll{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-default{
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    white-space: nowrap;
    cursor: pointer;
}

@mixin button-default-circle{
    outline: none;
    border-radius: 50%;
    border: 1px solid transparent;
    background: #fff;
    white-space: nowrap;
    cursor: pointer;
}

@mixin button-state{
    &:hover,
    &:focus{
        @include __getButtonStateBG(0.1);
    }
    &:hover:focus{
        @include __getButtonStateBG(0.15);
    }
    &:hover:active{
        @include __getButtonStateBG(0.2);
    }
}
@mixin __getButtonStateBG($val){
    background-color: rgba(0, 128, 0, $val);
}

@mixin formElementHidden{
    position: fixed;
    top: -20000rem;
}

@mixin enters{
    overflow: hidden;
    display: flex;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    &:hover,
    &:focus{
        border-color: rgba(0, 128, 0, 0.5);
    }
    &:focus:hover{
        border-color: rgba(0, 128, 0, 0.7);
    }
    .__inputEnter{
        -webkit-appearance: none;
        flex: auto;
        width: 60%;
        height: 48px;
        box-sizing: border-box;
        padding: 0 10px;
        outline: none;
        border: none;
        font-size: 1.2rem;
    }
    button[type="reset"]{
        
        align-self: center;

        width: 25px;
        height: 25px;
        outline: none;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        @include _getEntersBGcolor(0.05);
        
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus {
            @include _getEntersBGcolor(0.1);
        }
        &:focus:hover {
            @include _getEntersBGcolor(0.15);
        }
    }

    .__inputEnter:not(:placeholder-shown) + button[type="reset"]{
    }
    .__inputEnter:placeholder-shown + button[type="reset"] {
        display: none;
    }
    
    .__clearIcon {
        display: flex;
        justify-content: center;
        width: 25px;
        height: 10px;
        opacity: 0.3;
        &:hover {
            // opacity: 1;
        }
        &:before, &:after {
            position: absolute;
            content: ' ';
            height: 10px;
            width: 2px;
            background-color: #333;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    
    .__buttonEnter{
        box-sizing: border-box;
        width: 48px;
        margin: 0 0 0 5px;
        padding: 0;
        font-size: 1rem;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        @include button-state;
    }
}
@mixin _getEntersBGcolor($val){
    background-color: rgba(0, 0, 0, $val);
}