
body{
    margin: 0;
    padding: 1rem;
    font-family: 'Apple SD Gothic Neo',arial,sans-serif;
}
ul, p{
    margin: 0;
    padding: 0;
}
li{
    list-style: none
}
input:focus{
    outline: none;
}

