
body{
    margin: 0;
    padding: 1rem;
}

header{
    margin-bottom: 1rem;
}

h1{
    margin: 0 0 1rem 0;
}

ul, p{
    margin: 0;
    padding: 0;
}

.habits {
    margin-top: 2rem;
    &-title{
        margin: 0;
    }
    &-actions{
        display: flex;
        margin-top: 10px;
        .input{
            flex: 1;
        }
        input{
            width: 100%;
            height: 30px;
            box-sizing: border-box;
            padding: 0 5px;
            border: 1px solid #ddd;
        }
        .btn{
            margin-left: auto;
        }

    }
    &-list{
        margin-top: 1rem;
    }
    &-item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 0 8px;
        border-bottom: 1px solid #ddd;
        list-style: none;
        .name{
            width: 20%
        }
        .table{
        }
        .actions{
            margin-left: auto;
            white-space: nowrap;
        }
    }

    .btn{
        margin: 0 2px;
        padding: 0.3rem;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 3px;
        background-color: transparent;
        font-size: 12px;

    }
}


// .formSelect{
//     &[aria-hidden="true"]{
//         display: none;
//     }
// }

// .formInput{
//     display:flex;

//     label{
//         flex: auto;
//     }

//     input {
//         width: 100%;
//         font-size: 1.5rem;
//     }
    
//     button{
//         margin-left: 8px;
//     }
//     &[aria-hidden="true"]{
//         display: none;
//     }
// }
