
@import './_mixins.scss';
@import './_reset.scss';


.header {
    h1 {
        margin: 0;
    }
    &-actions{
        margin-top: 10px;
        .__button{
            flex: none;
            padding: 5px 10px;
            @include button-default;        
            @include button-state;
        }
    }
    &-enters{
        @include enters;
    }
}

.habits {
    &-actions {
        margin-top: 1.5rem;
        // nav {
        //     display: flex;
        //     justify-content: flex-end;
        // }
        // label {
        //     position: relative;
        //     margin: 0 2px;
        // }
        // input[type=radio]{
        //     position: absolute;
        //     top: -200000rem;
        //     &:checked + .__label {
        //         border-color: rgba(0, 128, 0, 0.4);
        //         background-color: rgba(0, 128, 0, 0.4);
        //         color: rgba(0, 0, 0, 0.5);
        //     }
        // }
        // .__label{
        //     padding: 3px 7px;
        //     border-radius: 5px;
        //     border: 1px solid rgba(0, 0, 0, 0.1);
        //     background-color: rgba(0, 0, 0, 0.1);
        //     text-align: center;
        //     font-size: 13px;
        //     color: rgba(0, 0, 0, 0.3);
        // }
        // .titles{
        //     margin-top: 20px;
        //     padding-bottom: 5px;
        //     border-bottom: dashed 1px #ddd;
        //     .__title{
        //         color: #333;
        //     }
        // }
    }
    &-navs{
        display: flex;
        .__buttonCurrent{
            margin-left: 10px;
            padding: 0 10px;

            @include button-default;
            @include button-state;
        }
        .__buttonNav{
            box-sizing: border-box;
            width: 30px; 
            height: 30px;
            padding: 0;
            border-radius: 50%;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.5);
            @include button-default-circle;
            @include button-state;

        }
        .__textButton{
            position: relative;
            top: -2px;
        }
        .__titleNav{
            width: 85px;
            margin: 0 10px;
            font-size: 1.5rem;
        }
    }
    &-options{
        @mixin __getBorderColor($val){
            border-color: rgba(0, 0, 0, $val);
        }
        @mixin __getBGColor($val){
            background-color: rgba(0, 0, 0, $val);
        }
        @mixin __getColor($val){
            color: rgba(0, 0, 0, $val);
        }

        @mixin __getBorderColor--on($val){
            border-color: rgba(0, 128, 0, $val);
        }
        @mixin __getBGColor--on($val){
            background-color: rgba(0, 128, 0, $val);
        }

        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        .__labelExpand{
            position: relative;
        }
        .__checkboxExpand{
            @include formElementHidden;
        }
        .__textExpand{
            // display: inline-block;
            padding: 5px 10px;
            // border-radius: 5px;
            // border-style: solid;
            // border-width: 1px;
            font-size: 13px;
            @include button-default;
            @include button-state;
            // @include __getBorderColor(0.05);
            // @include __getBGColor(0.05);
            // @include __getColor(0.4);
        }
        /* .__checkboxExpand{
            &:hover + .__textExpand,
            &:focus + .__textExpand{
                @include __getBorderColor(0.07);
                @include __getBGColor(0.07);
                @include __getColor(0.5);
            }
            &:hover:focus + .__textExpand{
                @include __getBorderColor(0.1);
                @include __getBGColor(0.1);
                @include __getColor(0.5);
            }

            &:checked + .__textExpand{
                @include __getBorderColor--on(0.2);
                @include __getBGColor--on(0.2);
                @include __getColor(0.5);
            }
            &:checked:hover + .__textExpand,
            &:checked:focus + .__textExpand{
                @include __getBorderColor--on(0.25);
                @include __getBGColor--on(0.25);
                @include __getColor(0.55);
            }
            &:checked:hover:focus + .__textExpand{
                @include __getBorderColor--on(0.3);
                @include __getBGColor--on(0.3);
                @include __getColor(0.6);
            }
        } */
    }
}

.habikers{
    margin-top: 1rem;
}

.habiker {
    padding: 10px 0;
    list-style: none;
    &-header{
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 5px;
        &:hover{
            border-color: rgba(0, 128, 0, 0.3);
        }
    }
    .__nameHabiker{
        flex: auto;
        min-width: 50%;
        margin: 0 5px 0 0;
        padding: 7px;
        outline: none;
        border-radius: 5px;
        border: none;
        text-overflow: ellipsis;
        font-size: 1.5rem;
    }
    .__buttonHabiker{
        box-sizing: border-box;
        width: 48px;
        margin-left: 2px;
        padding: 0.3rem 0.5rem;
        font-size: 14px;
        @include button-default;
        @include button-state;
    }
}

.trackers{
    display: flex;
    flex-flow: row wrap;
    margin-top: 5px;

    .habikers[data-expanded="false"] & {
        display: none;
    }
}

.tracker{
    @mixin __getBorderColor($val){
        border-color: rgba(117, 117, 117, $val);
    }
    @mixin __getBGolor($val){
        background-color: rgba(117, 117, 117, $val);
    }
    @mixin __getColor($val){
        color: rgba(117, 117, 117, $val);
    }

    @mixin __getBorderColor--on($val){
        border-color: rgba(0, 128, 0, $val);
    }
    @mixin __getBGColor--on($val){
        background-color: rgba(0, 128, 0, $val);
    }
    @mixin __getColor--on($val){
        color: rgba(100, 123, 101, $val);
    }

    margin: 2px;
    .__checkboxTracker{
        @include formElementHidden;

    }
    .__dateTracker{
        @include flexCenterAll;
        position: relative;
        width: 48px;
        height: 30px;
        border-radius: 20px;
        font-size: 1rem;
        border-style: solid; 
        border-width: 1px;
        @include __getBorderColor(0.07);
        @include __getBGolor(0.07);
        @include __getColor(0.4);
        &[data-today=true]:after{
            content: '';
            position: absolute; 
            top: -2px; z-index: 1;
            width: 15px;
            height: 3px;
            border-radius: 25%;
            background-color: purple;
        }
    }
    .__checkboxTracker{
        &:enabled + .__dateTracker{
            cursor: pointer;
        }
        &:enabled:hover + .__dateTracker,
        &:enabled:focus + .__dateTracker{
            @include __getBorderColor(0.1);
            @include __getBGolor(0.1);
            @include __getColor(0.5);
        }
        &:enabled:focus:hover + .__dateTracker{
            @include __getBorderColor(0.15);
            @include __getBGolor(0.15);
            @include __getColor(0.55);
        }

        &:checked + .__dateTracker{
            @include __getBorderColor--on(0.2);
            @include __getBGColor--on( 0.2);
            @include __getColor--on(0.6);
        }
        &:checked:hover + .__dateTracker,
        &:checked:focus + .__dateTracker{
            @include __getBorderColor--on(0.25);
            @include __getBGColor--on(0.25);
            @include __getColor--on(0.65);
        }
        &:checked:focus:hover + .__dateTracker{
            @include __getBorderColor--on(0.3);
            @include __getBGColor--on( 0.3);
            @include __getColor--on(0.7);
        }

        &:disabled + .__dateTracker{
            opacity: 0.5;
        }
    }
}

@import '_permanent.scss';
@import '_localStorage.scss';
@import '_backdrop.scss';



