
@import './_mixins.scss';
@import './_reset.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin: 0;
    }
    button.setLocalStorage{
        flex: none;
        padding: 5px 10px;
        @include button-default;        
        @include button-state;
    }
}

.habits {
    margin-top: 1rem;
    &-enters{
        display: flex;
        .__inputEnter{
            flex: auto;
            height: 48px;
            box-sizing: border-box;
            padding: 0 10px;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 1.2rem;
            &:focus{
                background-color: rgba(0, 128, 0, 0.1);
            }
        }
        .__buttonEnter{
            box-sizing: border-box;
            width: 48px;
            margin-left: 5px;
            font-size: 1rem;
            @include button-default;
            @include button-state;
        }
    }
    &-actions {
        margin-top: 1.5rem;
        // nav {
        //     display: flex;
        //     justify-content: flex-end;
        // }
        // label {
        //     position: relative;
        //     margin: 0 2px;
        // }
        // input[type=radio]{
        //     position: absolute;
        //     top: -200000rem;
        //     &:checked + .__label {
        //         border-color: rgba(0, 128, 0, 0.4);
        //         background-color: rgba(0, 128, 0, 0.4);
        //         color: rgba(0, 0, 0, 0.5);
        //     }
        // }
        // .__label{
        //     padding: 3px 7px;
        //     border-radius: 5px;
        //     border: 1px solid rgba(0, 0, 0, 0.1);
        //     background-color: rgba(0, 0, 0, 0.1);
        //     text-align: center;
        //     font-size: 13px;
        //     color: rgba(0, 0, 0, 0.3);
        // }
        // .titles{
        //     margin-top: 20px;
        //     padding-bottom: 5px;
        //     border-bottom: dashed 1px #ddd;
        //     .__title{
        //         color: #333;
        //     }
        // }
    }
    &-navs{
        @include flexCenterAll;
        .__buttonNav{
            width: 48px; height: 30px;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: transparent;
            text-align: center;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.5);
            @include button-state;
        }
        .__titleNav{
            margin: 0 10px;
            font-size: 1.5rem;
        }
    }
    &-options{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        .__labelFold{
            position: relative;
        }
        .__checkboxFold{
            @include formElementHidden;
        }
        .__textFold{
            display: inline-block;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: rgba(0, 0, 0, 0.05);
            font-size: 13px;
            color: #999;

        }
        .__checkboxFold{
            &:focus + .__textFold{
                border-color: rgba(0, 0, 0, 0.3);
            }
            &:checked + .__textFold{
                border-color: rgba(0, 125, 0, 0.1);
                background-color: rgba(0, 125, 0, 0.3);
                color: #222;
            }
            &:checked:focus + .__textFold{
                border-color: rgba(0, 125, 0, 0.5);
            }
        }
    }
}

.habikers{
    margin-top: 1rem;
    border-top: 1px solid #ddd;
}

.habiker {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    list-style: none;
    &-header{
        display: flex;
    }
    .__nameHabiker{
        flex: auto;
        min-width: 50%;
        margin-right: 5px;
        padding: 7px 10px;
        border-radius: 5px;
        border: none;
        text-overflow: ellipsis;
        font-size: 1.5rem;
        &:focus{
            background-color: rgba(0, 128, 0, 0.1);
        }
    }
    .__buttonHabiker{
        box-sizing: border-box;
        width: 48px;
        margin-left: 2px;
        padding: 0.3rem;
        font-size: 1rem;
        @include button-default;
        @include button-state;
    }
}

.trackers{
    display: flex;
    flex-flow: row wrap;
    margin-top: 5px;

    .habikers[data-fold="false"] & {
        display: none;
    }
}

.tracker{
    margin: 2px;
    .__checkboxTracker{
        @include formElementHidden;
    }
    .__dateTracker{
        @include flexCenterAll;
        width: 48px;
        height: 30px;
        border-radius: 7px;
        border: 1px solid rgba(117, 117, 117, 0.1);
        background-color: rgba(117, 117, 117, 0.1);
        font-size: 1rem;
        color: rgba(117, 117, 117, 0.3);
    }
    .__checkboxTracker{
        &:focus + .__dateTracker{
            border-color: rgba(117, 117, 117, 0.5);
        }
        &:checked + .__dateTracker{
            border-color: rgba(0, 128, 0, 0.2);
            background-color: rgba(0, 128, 0, 0.3);
            color: rgba(100, 123, 101, 0.9);
        }
        &:checked:focus + .__dateTracker{
            border-color: rgba(0, 128, 0, 0.5);
        }
    }
}


@import '_dimmed.scss';
@import '_localStorage.scss';




